{% extends 'index.njk' %} 
{% block content %}

{% if formattedMeteors[0].id %}
<h1 class="title">Near Earth Asteroid data</h1>
<table class="table">
  <thead class="table-header">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Diameter, m</th>
      <th>Status</th>
      <th>Close approach date</th>
      <th>Relative velocity, km/s</th>
    </tr>
  </thead>
  <tbody class="table-body">
    {% for meteor in formattedMeteors %}
    <tr>
      <td>{{ meteor.id }}</td>
      <td>{{ meteor.name }}</td>
      <td>{{ meteor.diameter_meters.toFixed(2) }}</td>

      {% if meteor.is_potentially_hazardous_asteroid %}
      <td class="dangerous">Dangerous</td>
      {% else %}
      <td class="safe">Safe</td>
       {% endif %}

      <td>{{ meteor.close_approach_date_full }}</td>
      <td>{{ meteor.relative_velocity_kps }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
      {% if formattedMeteors.count  %}
      <h2 class="safe">Number of meteorites that have been seen: {{formattedMeteors.count}}</h2>
      {% endif %}
      {% if formattedMeteors.wereDangerousMeteors %}
      <h2 class="dangerous"> Is there dangerous-meteors: {{formattedMeteors.wereDangerousMeteors}}</h2>
       {% endif %}
{% endif %}
{% endblock %}
